input[type="file"] {
    border: 1px solid #dedede;
    padding: 6px;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: #f9f9f9;
    }
}
input[type="file"]::file-selector-button {
    display: none;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
